<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Categorias</title>
</head>
<body>
    <div class="absolute top-0 flex w-full h-24 bg-blue-500">
        <div class="w-1/2 h-full">
            <div class="flex justify-center items-center w-1/2 h-full">
                <h1 class="text-3xl text-white">EducaES</h1>
            </div>
        </div>
        <div class="flex items-center w-1/2 h-full">
            <ul class="w-full flex justify-center space-x-5 text-lg text-white">
                <li class="hover:bg-blue-600 p-2 rounded-lg"><a href="/all_category"> Categorias </a></li>
                <li class="hover:bg-blue-600 p-2 rounded-lg"><a href="/auth"> Log In </a></li>
            </ul>
        </div>
    </div>

    <div class="w-full h-screen">
        <div class="flex flex-col items-center h-full w-full pt-32 bg-gray-100 p-5">
            <h1 class="text-2xl mb-5">Categoria</h1>
            <div class="w-1/2 h-full bg-green-500 rounded-lg">


                {% for book in list_category[category] %}
                    <div class="my-2 flex items-center justify-between h-1/4 w-full bg-gray-300 p-3 hover:shadow-lg rounded-lg">
                        <img class="h-32 w-32 bg-yellow-500" src={{book["img"]}} alt="">
                        <h1 class="text-xl">{{book["name_book"]}}</h1>
                        <form action="/get_book" method="post">
                            <input name="name_book" class="hidden" value={{book["name_book"]}} type="text">
                            <input name="category" class="hidden" value={{book["category"]}} type="text">
                            <button>Ver Livro</button>
                        </form>
                    </div>
                {% endfor %}



            </div>
        </div>

    </div>